<html>
  <head>
      <title>Calculadora Imc</title>
      <link href="/style.css" rel="stylesheet">
  </head>
  <body>
      <h1> <a href="/"> <img src="/vamo.jpg" alt="picture about nutricts"> </a></h1>
   
 