<%- include('header') %>

<button class="homem">Homem</button>
<button class="mulher">Mulher</button>

 <form method="get" action="gordura">
   
  <input name="idade" type="number" placeholder="Idade">
  <input name="altura" type="text" placeholder="Altura ex:1.70">
  <input name="peso" type="number" placeholder="Peso">
   
  <button class="botaofinal">clique aqui</button>
 </form>
 




<%- include('footer') %>